* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-height: 100vh;
  max-width: 100vw;
}

.carousel {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}